* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f8f8;
    padding: 10px 20px;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top .contact-info {
    display: flex;
    align-items: center;
}
.header-top .contact-info a {
    margin-right: 20px;
    text-decoration: none;
    color: red;
    font-weight: bold;
}

header nav ul {
    display: flex;
    justify-content: left;
    list-style-type: none;
    background-color: #136ff8;
    padding: 12px;
    border-radius: 40px;
}

header nav ul li {
    margin: 0 8px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.banner {
    background-color: #ffffff;
    padding: 50px;
    text-align: left;
    font-size: 1.9em;
}

.banner p{
    padding:10px;
    font-size:12px;

}
.banner button{
    background-color: #136ff8;
    color:white;
    border-radius: 30px;
    padding: 8px;
}

.statistics {
    display: flex;
    justify-content:center;
    margin: 30px 30px 30px 30px;
    padding-left:20px;
    padding-right: 30px;
    background-color: #0e3a7b;
    border-radius: 20px;
    color: white;
    /* width:1270px; */
}

.statistics div {
    margin: 0 100px;
    text-align: center;
}
.statistics h3 {
    font-size: .6rem;
    color: #ffffff
}
.about {
    background-color: #f9f9f9;
    padding: 40px 20px;
    text-align: left;
}
.about img{
    position: relative;
    float: right;
}
