*{
    margin:0;
    padding:0;
}
.hotelname{
    color:black;
}
.storename{
    font-size: 1.2rem;
    background-color: aqua;
    /* width: 6.25rem; */
    color: blue;
    display: inline-block;
    align-items: center;
    justify-content: space-around;
}