

body h1{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.landing{
    background-image: url('/project/bg2_img.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header a{
    text-decoration: none;
    color: rgb(244, 108, 108);
    font-size: large;
}

header{
    display: flex;
    padding:1em;

}
#logo{
    flex:8;
    font-size: 1.25em;
    width:20em;
    color: rgb(7, 148, 43);


}
nav{
    flex:2;
    display:flex;
    align-items: center;

}
nav a{
    flex:1;  
}

nav a:hover{
    color:rgb(7, 12, 12);
}

.maintext{
    display: flex;
    flex-direction: column;
    height:80vh;
    justify-content: center;
    padding: 2em;

}

.tagline1{
    color: rgb(165, 69, 144);
    font-size: 3.5em;
    font-weight: bolder;
    
}

.tagline2{
    font-size: 1.5em;
    color: black;

}
.maintext div{
    margin-top: .75em;
}
.maintext button{
    width:15vw;
    margin-top: 2em;
    border-radius: 9px;
    padding: .7em;
    background-color: rgb(224, 14, 14);
    color: rgb(255, 255, 255);

}

.menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* background: linear-gradient(to right,rgb(234, 165, 225),rgb(210, 248, 163)); */
    background-color: rgb(251, 240, 227);
    font-family:'Courier New', Courier, monospace;
    padding: 1em;
    /* display: flex; */
    /* width:100; */
    grid-template-columns:repeat(3);
    /* flex:1; */
    /* min-width: 120px; */
    justify-content: center;
    text-align: center;

}

.menu2{
    /* display: grid; */
    grid-row-start:calc(1);
    background-color: rgb(250, 243, 233);
    padding: 1em;
    display: flex;
    justify-content: center;
    /* width:100% */
    

}

.letter{
    font-family:Lucida Handwriting;
    font-size: 1.2em;
}
footer{
    background-color:black;
    padding: .25em 1em;
    color: azure;
    justify-content: center;
}
.works{
    font-family:'Courier New', Courier, monospace;
    font-size: large;
    font-style: italic;
    font-weight: 900;
    font-display: inherit;
}