/* .first{
    background-color: aquamarine;
}
.second{
    background-color: rgb(29, 249, 80);
}
.third{
    background-color: rgb(14, 246, 246);
} */

/* .clr{
    color: white;

}

@media all and (max-width:1095px){
    .clr{
        background-color: black;
    }
}
@media all and (max-width:775px){
    .clr{
        background-color:chocolate;
    }
}
@media all and (max-width:540px){
    .clr{
        background-color:chartreuse;
    }
}
@media all and (max-width:350px){
    .clr{
        background-color:crimson;
    }
} */

.one img{
    width:4rem;
    float: left;

}
.words{
    padding: none;
    margin: 1em;
    font-size: 1em;
    margin-block-start: 1em;
    margin-block-end: 3em;
    margin-inline-start: 2px;
    margin-inline-end: 1px;
    unicode-bidi: isolate-override;
}
.box{
    background-color: blue;
    width:4em;
    height:4em;
}


