* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f8f8;
    padding: 10px 20px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top .logo img {
    width: 150px;
}

.header-top .contact-info {
    display: flex;
    align-items: center;
}

.header-top .contact-info a {
    margin-right: 20px;
    text-decoration: none;
    color: red;
    font-weight: bold;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: #0047b3;
    padding: 10px 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.banner {
    background-color: #eef4f9;
    padding: 50px;
    text-align: left;
}

.banner h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.banner button {
    background-color: #0047b3;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

.statistics {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.statistics div {
    margin: 0 10px;
    text-align: center;
}

.statistics h3 {
    font-size: 1.5rem;
    color: #0047b3;
}

.about {
    background-color: #f9f9f9;
    padding: 40px 20px;
    text-align: center;
}

.about img {
    width: 50%;
    margin-top: 20px;
}

.chairman {
    padding: 40px;
    background-color: #f3f3f3;
    text-align: center;
}

.chairman img {
    width: 150px;
    margin-top: 20px;
    border-radius: 50%;
}

footer {
    background-color: #0047b3;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
